body{
    text-align: center;
}
.btn{
    height:200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black ;
    margin: 2rem;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: rgb(114, 32, 23);

}
.yellow{
    background-color: rgb(144, 144, 51);
}
.green{
    background-color: rgb(28, 91, 34);

}
.purple{
    background-color: rgb(106, 41, 97);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}